@model IEnumerable<Architecture.Common.DTO.MemberDto>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>姓名</th>
            <th>手機</th>
            <th>市話</th>
            <th>性別</th>
            <th>生日</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="5" class="text-center">目前沒有資料</td>
            </tr>
        }
        else
        {
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Name</td>
                    <td>@m.Phone</td>
                    <td>@m.Tel</td>
                    <td>@m.Gender</td>
                    <td>@m.Birthday.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        }
    </tbody>
</table>
